:root{
 --color-grey: rgb(125, 127, 134);
 --color-lightblue: rgb(117, 211, 203);
 --color-goldenrod: goldenrod;
 --color-lightgreen: #4dcf33;
 --color-black:black;
}

body{
    background-color: var(--color-goldenrod);
}

.header{
    background-color: var(--color-lightblue);
    border-style:solid;
    border-color:var(--color-black);
    color: var(--color-black);
    display:flex;
    height: 10%;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    
}


nav{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-grey);
    min-width: 15%;
    border-style:solid;
    border-color:var(--color-black);
    
    
}

nav a {
    color: var(--color-black);
    position: relative; 
    text-decoration: none;
    min-width: 15%;
}

.about-me{
    display:flex;
    justify-content: center;
    text-align: center;
}

.projects-header{
    background-color: var(--color-goldenrod);
    padding: 5%;
    margin:0;
    border-color: var(--color-black);
    border-style: solid;
    text-align: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    flex:5;
    padding: 5%;
    background-color: var(--color-grey);
    border-radius:25%;
    margin:10px;
    border-color: var(--color-lightblue);
    border-style: solid;
}


.card-parent{
    display:flex;
    flex-wrap: wrap ;
    
    justify-content: space-evenly;
    padding:10%;
    background-color: var(--color-goldenrod);
    align-items: flex-start;
}

.card-header{
    border-color: var(--color-lightblue);
    border-style: solid;
    padding: 10%;
    border-radius:25%;
    display:flex;
    text-align: center;
    justify-content: center;
}

.card-p{
    font-size: large;
    border-radius:25%;
    padding: 5%;
    background-color: whitesmoke;
    display:flex;
    text-align: center;
    flex-direction: column;
    min-height: 20%;
    border-color: var(--color-lightblue);
    border-style: solid;
   
}

.card-image{
    display:flex;
    flex-direction: column;
    flex:2;
    align-items: stretch;
    margin: 1%;

}



footer{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--color-lightblue);
    border-style:solid;
    border-color:var(--color-black);
}

@media screen and (max-width: 2000px) {
    .card {
      width: 50%;
      height: 40%;
      border-color: var(--color-black);
        border-style: solid;
    }
    .card-header {
      background:var(--color-goldenrod);
      border-color: var(--color-black);
        border-style: solid;
    }
    .card-p{
        background-color: var(--color-goldenrod);
        border-color: var(--color-black);
        border-style: solid;
        
    }
    .header{
        background-color: var(--color-goldenrod);
    }
    .projects-header{
        background-color: var(--color-goldenrod);
    }
    footer{
        background-color: var(--color-goldenrod);
    }
    body{
        background-color: var(--color-goldenrod);
    }
  }


@media screen and (max-width: 1000px) {
    .card {
      width: 50%;
      border-color: var(--color-black);
        border-style: solid;
    }
    .card-header {
      background: var(--color-lightgreen);
      border-color: var(--color-black);
        border-style: solid;
    }
    .card-p{
        background-color: var(--color-lightgreen);
        border-color: var(--color-black);
        border-style: solid;
    }
    .header{
        background-color: var(--color-lightgreen);
    }
    .projects-header{
        background-color: var(--color-lightgreen);
    }
    footer{
        background-color: var(--color-lightgreen);
    }
    body{
        background-color: var(--color-lightgreen);
    }
  }


  @media screen and (max-width: 750px) {
    .card {
        width: 100%;
        border-color: var(--color-black);
        border-style: solid;
    }
    .card-header {
        background: var(--color-lightblue);
        border-color: var(--color-black);
    }
    .card-p {
        background-color: var(--color-lightblue);
        border-color: var(--color-black);
        border-style: solid;
    }
    .header{
        background-color: var(--color-lightblue);
    
    }
    .projects-header{
        background-color: var(--color-lightblue);
    }
    footer{
        background-color: var(--color-lightblue);
    }
    body{
        background-color: var(--color-lightblue);
    }
  }